* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#all {
    display: flex;
   /* text-align: left; */
   justify-content: space-evenly;

   

}

.mar {
   width: 100%;
    box-sizing: content-box;
    text-align: center;
    margin: 2px;
    border-radius: 4px;
    padding: 5px;
    color: white;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#name {
    background-color: blue ;
}

#hex {
    
     background-color: #0000ff;

}

#rgb {
     background-color: rgb(0, 0, 255);
}

#rgba {
     background-color: rgba(0, 0, 255, 1);
}

#hsl {
    background-color: hsl(240, 100%, 50%);
}

section {
    position: relative;
    background-color: blue;
    height: 180px;
    overflow: hidden;

}


img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.418);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.gradient {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   padding: 10px;
   text-align: center;
   
    
}

.gra {
    justify-content: space-evenly;
    padding: 4px;
    margin: 4px;
    border-radius: 3px;
    font-weight: 600s;
    color: white;
    height: 50px;
}

#liner-g-right{
    
    width: 100%;
    color: white;
    background-image: linear-gradient(to right,blue,rgb(4, 4, 73));
}

#liner-g-45 {
    width: 100%;
    background-image:linear-gradient(45deg, orange, rgb(187, 105, 5)) ;
}
#radial-g-circle {
    width: 100%;
    background-image: radial-gradient( circle, darkgreen, rgb(13, 172, 13));
}

button {
    color: white;
    font-weight: 600;
    height: 25px;
    border-radius: 3px ;
    margin-left: 10px;
    background-image: linear-gradient( to right, blue, purple);
}