* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Card Wrapper for each Task */
    .task-card {
      background-color: #ffffff;
      border-radius: 10px;
      padding: 25px;
      margin-bottom: 35px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.233);
      border: 1px solid #ccdaecce;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
    }

    .task-header {
      font-size: 1.25rem;
      color: #2563eb;
      margin-bottom: 8px;
    }

    /* Question Box */
    .task-question {
      background-color: #eff6ff;
      border-left: 4px solid #2563eb;
      padding: 10px 14px;
      font-weight: 600;
      color: #1e40af;
      margin-bottom: 12px;
      font-size: 0.95rem;
    }

    nav {
        display: inline-block;
        background-color: rgb(22, 17, 13);
        width: 100%;
        margin-top: 7px;
        padding: 7px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        
    }

    nav a {
        padding: 10px;
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
        background-color: #3951a1c7;
        justify-content: space-evenly; 
        border-radius: 5px;
        margin: 0 18px;
        font-weight: 400;
        font-family: ubuntu, sans-serif;
    }

    .task-answer div {
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
    }

    .hero {
        position: relative;
        height: 100vh;

    }

    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        inset: 0;
    }


    .hero .hero-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        position: absolute;
        padding: 0 auto;
        inset: 0;
        text-align: center;
        margin:  auto;

    }

    
 .task-4-ans {
    height: 120px;
    background-color: rgba(173, 216, 230, 0.24);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 255, 0.274);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.233);
    
    
 }


 .task-4-ans .ans-heading {
    font-size: 1.5rem;
    color: rgba(6, 29, 80, 0.733);
    margin-bottom: 8px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 10px;
    font-family: ubuntu, sans-serif;
 }


 .task-4-ans .ans-body {
    font-size: 1rem;
    
    margin-bottom: 8px;
    font-weight: 400;
    padding-left: 10px;
    font-family: ubuntu, sans-serif;
 }

 .task-4-ans .ans-caption {
    font-size: 0.875rem;
    color: rgba(80, 71, 71, 0.932);
    margin-bottom: 8px;
    font-weight: 400;
    padding-left: 10px;
    font-family: ubuntu, sans-serif;
 }

