* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.task-ans-one {
    background-color: rgba(128, 128, 128, 0.644);
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}


.task-card {
    background-color: #ffffff;
      border-radius: 10px;
      padding: 25px;
      margin-bottom: 35px;
      margin-left: 25px;
      margin-right: 25px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.116);
      border: 5px solid #282a2c1a;
}

.task-header {
      font-size: 1.25rem;
      color: #2563eb;
      margin-bottom: 8px;
    }

    /* Question Box */
    .task-question {
      background-color: #eff6ff;
      border-left: 4px solid #2563eb;
      padding: 10px 14px;
      font-weight: 600;
      color: #1e40af;
      margin-bottom: 12px;
      font-size: 0.95rem;
    }

    header {
        display: block;
        display: flex;
        justify-content: space-between;
        background-color: black;
        color: white;
        height: 30px;
        text-align: center;
        align-items: center;
        padding: 10px 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px black;
        margin: 0;
        
        
     
    }


    header .dev {
        font-size: large;
        font-family: sans-serif;
        font-weight: 400;


    }

    header .user {
        color: rgba(255, 255, 255, 0.418);
        font-size: small;
        font-family: sans-serif;
    }


    main {
         display: flex;
         justify-content: baseline;
         padding: 20px;
         margin: 20px;
    }

    main label {
        background-color: #576574 ;
        color: white;
        padding: 20px;
        margin-left: 10px;
        width: 250px;
        height: 300px;
        border-radius: 5px;
        box-shadow: 0 0 5px grey;
    }


    main label h3 {
       color: white;
       font-family: sans-serif;
       font-size: large;
       font-weight: 400;
       display: flex;
       justify-content: center;
    }


    main label ul {
        padding: 20px;
        
        
    }

    main label ul li {
        text-decoration: none;
        list-style: none;
        padding: 5px 0;
        font-size: medium;
        font-family: sans-serif;
    }

    main label ul li a {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        font-size: small;
    }

    .contant {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 5px white;
        padding: 20px;
        margin-left: 20px ;
    }


    .contant h3 {
        font-size: large;
        font-family: sans-serif;
        padding-bottom: 8px;
    }

    .contant p {
        font-size: small;
        font-family: sans-serif;
        color: rgba(128, 128, 128, 0.747);
        
    }

    .one {
        padding: 10px;
    }

    .two {
        padding: 0;
        margin: 0;
    }

    .contant div {
        display: flex;
        margin: 10px;
        justify-content: first baseline;
    }

    footer {
        background-color: #34495e;
        padding: 12px;
        color: white;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        
    }

    footer p {
        font-size: small;
    }


    .par-grid-flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .itam-1 {
        
        grid-column: span 2;
        border: 1px solid black;
        grid-row: span 2;
        
        padding: 10px;
        margin: 0;
        background-color: #121416;
        color: white;
        
    }

    .itam-1 a {
        text-decoration: none;
        color: white;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        font-size: small;
    }

    .itam-1 .ul-1 {
        padding: 0;
        margin: 0;
    }

    .itam-1 .ul-1 .li-1 {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .itam-1 .ul-1 .li-1 .a-1 {
        color: #2564ebc5;
        margin-left: 15px;
    }


    .itam-1 h1 {
        font-family: sans-serif;
        font-size: larger;
        font-weight: 600;
        margin-left: 15px;
    }


    .itam-1 p {
        font-family: sans-serif;
        font-size: small;
        color: rgba(255, 255, 255, 0.678);
        margin: 0;
        margin-left: 15px
    }

    .itam-1 .ul-2 {
        margin-left: 15px;
        
    }

    .itam-1 .ul-2 .li-2 {
        list-style: none;
        
    }

    .itam-1 .ul-2 .li-2 .a-2 {
        background-color: #1e40af;
        height: 100px;
    }

    li {
        list-style: none;
    }

        
    






